<div class="header">
    <div class="header__headerlogoplacement">
        <img class="header__headerlogo" src="/assets/Frame 548.svg">
        <p class="header__headerlogotext">Poll <br> App</p>
    </div>

    <div class="underheadertext">
        <div class="underheadertext__collectfeedback">
            <h1>Collect Feedback, Unlock Ideas</h1>
            <p>Create and share surveys in minutes – from team events to workplace culture. Collect opinions,
                engage your audience, and turn feedback into action.</p>
            <div class="underheadertext__newsurveydiv">
                <button class="underheadertext__newsurveybutton">New survey <img src="/assets/add_circle.png"></button>
            </div>
        </div>
        <div class="underheadertext__animations">
            <img class="underheadertext__animations-before-hover" src="/assets/header_animation_before_hover.png">
            <img class="underheadertext__animations-after-hover" src="/assets/header_animation_after_hover.png">
        </div>
    </div>

</div>