@use '../../../mixins/main-mixin.scss' as mx;

.header {
    margin: 0px;
    margin-left: 70px;
    margin-right: 70px;
    margin-top: 50px;

    &__headerlogoplacement {
        @include mx.flex-center($align: center, $flex-direction: row, $justify: flex-start);
        gap: 10px;
    }

    &__headerlogotext {
        @include mx.nerko-one();
        @include mx.flex-center($align: center, $flex-direction: column);
        gap: 5px;
        margin: 0px;
    }
}

.underheadertext {
    @include mx.flex-center($align: center, $flex-direction: row);
    position: relative;
    width: 100%;

    &__collectfeedback h1 {
        @include mx.nerko-one($size: 100px);
        margin-bottom: 0px;
    }

    &__collectfeedback p {
        @include mx.mullish();

    }

    &__collectfeedback {
        flex: 1;
    }

    &__animations {
        flex: 1;
        position: relative;

        &-before-hover,
        &-after-hover {
            position: absolute;
            width: 70%;
            height: auto;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            transition: opacity 0.5s ease;
        }

        &-before-hover {
            opacity: 1;
        }

        &-after-hover {
            opacity: 0;
        }

        &:hover {
            .underheadertext__animations-before-hover {
                opacity: 0;
            }

            .underheadertext__animations-after-hover {
                opacity: 1;
            }
        }
    }

    &__newsurveydiv {
        padding-bottom: 20px;
    }

    &__newsurveybutton {
        cursor: pointer;
        padding: 10px;
        gap: 10px;
        @include mx.flex-center($align: center, $justify: center, $flex-direction: row);
        border-radius: 10px;
        background-color: #FFCFA1;
        @include mx.nokora();
    }


}