@mixin flex-center($flex-direction: column, $justify: center, $align: center) {
    display: flex;
    align-items: $align;
    flex-direction: $flex-direction;
    justify-content: $justify;
}

@mixin nerko-one($family: 'Nerko One', $weight: 400, $size: 26px) {
    font-family: $family;
    font-weight: $weight;
    font-size: $size;
    color: #FFB770;
}

@mixin mullish($size: 24px, $weight: 600, $color:#ffff) {
    font-family: Mulish;
    font-weight: $weight;
    font-size: $size;
    color: $color;
}

@mixin nokora($size:18px, $weight: 700) {
    font-family: Nokora;
    font-weight: $weight;
    font-style: Bold;
    font-size: $size;
}

@mixin inputfield($radius: 5px 20px 5px 5px, $padding-top: 7px) {
    border-radius: $radius;
    border: none;
    padding-top: $padding-top;
    padding-bottom: 7px;
    padding-left: 12px;
    
    &:focus {
        background-color: #FEE9D4;
        outline: none;
    }
}