@for (question of questions; track question.questionNumber) {
<div class="questions">
    <div class="questions__text">
        <p>{{ question.questionNumber }}. Question</p>
        <div class="delete-icon">
            <img src="/assets/delete.svg">
        </div>
    </div>
    <input>

    <div class="answers">
        <div class="answers__text">
            <p>Answers</p>
            <div class="answers__text--checkbox">
                <input type="checkbox">
                <p>Allow multiple answers.</p>
            </div>
        </div>
        @for(question of questions; track question.answerNumber) {
        <div class="answers__input">
            <p>{{ question.answerNumber | numberToLetter }}.</p>
            <input>
            <div class="delete-icon">
                <img src="/assets/delete.svg">
            </div>
        </div>
        }
        <div class="answers__addnewanswer">
            <div class="answers__addnewanswer--borderbottom">
                <p>Add answer</p>
                <img src="/assets/add_circle.svg">
            </div>
        </div>
    </div>
</div>
}