@use '../../../../../mixins/main-mixin.scss' as mx;

.questions {
    width: 100%;
    @include mx.flex-center($align: flex-start, $flex-direction: column, $justify: flex-start);
    margin: 0px;
    margin-top: 20px;

    input {
        @include mx.inputfield();
        margin: 0px;
        min-width: 112%;
    }

    &__text {
        @include mx.flex-center($align: center, $flex-direction: row, $justify: space-between);
        min-width: 120%;
        p {
            @include mx.mullish($size: 18px, $weight: 700, $color: #FEFDFF);

        }
        img {
            cursor: pointer;
        }
    }
}