<div class="mainbubble">
    <div class="mainbubble__positioning">
        <div class="draft">
            <div class="draft__bubble">
                <p>Draft</p>
            </div>
        </div>
        <div class="createnewsurveytext">
            <p>Create new survey</p>
            <div class="cancelbutton">
                <p>Cancel</p>
                <img src="/assets/close.svg">
            </div>
        </div>

        <div class="formsbubble">
            <div class="formsbubble__leftside">
                <div class="surveynameform">
                    <div class="surveynameform__text">
                        <p>Survey name</p>
                    </div>
                    <div class="surveynameform__input">
                        <input>
                        <img src="/assets/delete.svg">
                    </div>
                </div>
                <div class="surveyenddate">
                    <div class="surveyenddate__text">
                        <div class="surveyenddate__text--date">
                            <p >Set end date <span>(optional)</span></p>
                            <div class="surveyenddate__input">
                            <input>
                            <img src="/assets/delete.svg">
                            </div>
                        </div>
                        <div class="surveyenddate__text--category">
                            <p>Choose category</p>
                            <span>▼</span>
                        </div>
                    </div>
                </div>
            </div>
            <div></div>

        </div>
    </div>
</div>